# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# IDE/editor config
.vscode/
.idea/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
.env